.clientWrapper {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}

.loading{
margin-top: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.loading p{
font-weight: bold;
}